body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: none !important;

}


/* .background {
background: linear-gradient( rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25) ), url("images/background1.png") no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
color: white !important;
min-height: 100vh;
height: 100%
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.main {
  padding: 50px;
  height: 100%;
  background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url("images/background1.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white !important;
  min-height: 100vh;
  height: 100%
}

.ui.secondary.vertical.pointing.menu .active.item {
    border-color: white !important;
}


.bounce-in-div {
  visibility: visible;
  animation: bounce-in 0.4s;
}

.vertical-timeline-element-icon {
  box-shadow: 0 0 0 4px #fff, inset 0 2px 0 rgba(0, 0, 0, 0), 0 3px 0 4px rgba(0,0,0,.0) !important;
}

.vertical-timeline-element-content .vertical-timeline-element-date {
  opacity: 1.0 !important;
  color: white !important;
  padding: 10px !important;
}

/* .title-styles {
  font-size: 2em;
}

.content-styles {
  font-size: 1.25em;
} */
